export VITE_APP_SP_URL="https://lebwijkirrtvezbcmcdk.supabase.co"
export VITE_APP_SP_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlYndpamtpcnJ0dmV6YmNtY2RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzY4NjIwNjEsImV4cCI6MTk5MjQzODA2MX0.6AtNlNNxFUbjbJ2n_PST1-WeRqPfbOFug18qwjcouJk"
