export VITE_APP_SP_URL="https://lebwijkirrtvezbcmcdk.supabase.co"
export VITE_APP_SP_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlYndpamtpcnJ0dmV6YmNtY2RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzY4MTk4NTUsImV4cCI6MTk5MjM5NTg1NX0.QshOiHwD4V30y97TUzfFsicPaPWLef_MydKtPH_VuL4"
