export VITE_APP_SP_URL="https://rhfblqnpahtbvejpozkc.supabase.co"
export VITE_APP_SP_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJoZmJscW5wYWh0YnZlanBvemtjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzY4MTY5NzIsImV4cCI6MTk5MjM5Mjk3Mn0.r5PNCqq3mSpty4dA2llLnRUl9mBDMadXXZFWvdqfzfY"
