.sunset-bg {
    background-image: url("../../assets/sunset-sq.gif");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 500px;
    border-radius: 100% 100% 0 0;
}
