@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Chonburi', cursive;
}

.publisher-box {
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
}

@supports (padding:max(0px)) {
    body, header, footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}

.cross-fade-leave {
    opacity: 1;
}

.cross-fade-leave.cross-fade-leave-active {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.cross-fade-enter {
    opacity: 0;
}

.cross-fade-enter.cross-fade-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.cross-fade-height {
    transition: height 0.5s ease-in-out;
}
